<template>
  <section id="main">
      <h1>Welcome to my app bitches</h1>
      {{ msg }}
      <section>
          <router-link to='/User/1'>Users</router-link>
      </section>
  </section>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>
