<template>
  <section id="user">
      <h1>User</h1>
      <p>{{ msg }}</p>
      <p v-if="exists">Here's user #{{ $route.params.id }}</p>
      <footer>
          <router-link to='/'>Back to Main</router-link>
      </footer>
  </section>
</template>

<script>
export default {
  name: "User",
  data() {
    return {
      msg: "Here's a user.",
      ids: [1, 2, 3, 4, 5],
      exists: false
    };
  },
  computed: {
      goto: function() {
          var id = $route.params.id
          ids.forEach(element => {
              if (element == id) {
                  exists = true
              }
          });
      }
  }
};
</script>
