<template>
  <section>
    <ul class="mdl-list mdl-cell mdl-cell--4-col">
      <li v-for="userResult in userFollowers" v-bind:key="userResult.id" class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span><img v-bind:src=userResult.avatar_url alt="avatar" class="mdl-list__item-avatar"></span>
          <span>{{userResult.login}}</span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">Profile</span>
          <a class="mdl-list__item-secondary-action" :href="'#/Users/'+userResult.login" ><i class="material-icons">link</i></a>
        </span>
      </li>
    </ul>
  </section>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Followers",
  computed: {
    ...mapState(["userFollowers"])
  },
  methods: {
    getFollowers: function() {
      this.$store.dispatch("getUserFollowers", this.$route.params.username);
      console.log(this.$store.userProfiles);
    }
  },
  mounted: function() {
    this.getFollowers();
  }
};
</script>