<template>
  <article id="info">
      <h2>User Info</h2>
      <p>Name: {{userProfile.name}}</p>
      <p>Username: {{userProfile.login}}</p>
      <p>Company: {{userProfile.company}}</p>
      <p>Location: {{userProfile.location}}</p>
  </article>
</template>

<script>
import { mapState } from 'vuex';
export default {
  name: "Info",
  computed: {
    ...mapState(['userProfile'])
  }
};
</script>