<template>
  <section>
    <ul class="mdl-list mdl-cell mdl-cell--10-col">
      <li v-for="userRepo in userRepos" v-bind:key="userRepo.id" class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span>{{userRepo.name}}</span>
          <span class="mdl-list__item-sub-title">{{userRepo.description}}</span>
        </span>
        <span>{{userRepo.language}}</span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">Go to</span>
          <a class="mdl-list__item-secondary-action" :href="userRepo.html_url" ><i class="material-icons">link</i></a>
        </span>
      </li>
    </ul>
  </section>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Repository",
  computed: {
    ...mapState(['userRepos'])
  },
  methods: {
    getRepos: function(){
      this.$store.dispatch("getUserRepos", this.$route.params.username);
    }
  },
  mounted: function(){
    this.getRepos();
  }
};
</script>