<template>
  <article id="users">
      <section>
        <h1>Welcome to my app bitches</h1>
        {{ msg }}
      </section>
      <section class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-grid">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="searchText">
          <i class="material-icons">search</i>
        </label>
        <section class="mdl-textfield__expandable-holder">
          <input type="text" name="searchText" class="mdl-textfield__input" id="searchText" v-on:change="getUsers($event)">
        </section>
      </section>
      <section class="mdl-grid">
        <ul class="mdl-list mdl-cell mdl-cell--6-col">
          <li v-for="userResult in usersResult" v-bind:key="userResult.id" class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <span><img v-bind:src=userResult.avatar_url alt="avatar" class="mdl-list__item-avatar"></span>
              <span>{{userResult.login}}</span>
              <span class="mdl-list__item-sub-title">Score: {{userResult.score}}</span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <span class="mdl-list__item-secondary-info">Profile</span>
              <a class="mdl-list__item-secondary-action" :href="'#/Users/'+userResult.login" ><i class="material-icons">link</i></a>
            </span>
          </li>
        </ul>
      </section>
  </article>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Users",
  data() {
    return {
      msg: "Welcome to Your Vue.js App. You may search for Git users."
    };
  },
  computed: {
    ...mapState(["usersResult"])
  },
  methods: {
    getUsers(event) {
      this.$store.dispatch("getUsers", event.target.value);
    }
  }
};
</script>
