<template>
    <article id="user">
        <router-link to="/Users">Home</router-link>
        <h1>{{userProfile.name}}</h1>
        <!-- <p>{{userProfile}}</p>   -->
        <p><img v-bind:src=userProfile.avatar_url alt="Profile Picture" style="max-width:200px;maxheight:200px;"></p>
        <p>Username: {{ username }}</p>
        <p>
            <router-link :to="{name: 'Info', params: {username: username}}">Info</router-link>
            <router-link :to="{name: 'Repository', params: {username: username}}">Repository</router-link>
            <router-link :to="{name: 'Followers', params: {username: username}}">Followers</router-link>
        </p>
        <router-view></router-view>
    </article>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "User",
  mounted: function(){
    this.userGet();
  },
  methods: {
    userGet: function() {
      // console.log(this.$route.params.username)
      this.$store.dispatch("getUser", this.$route.params.username);
    }
  },
  computed: {
    username: function() {
      return this.$route.params.username
    },
    ...mapState(['userProfile'])
  }
};
</script>