<section nc-controller="ClockCtrl">
    <h2 class="moduleHeader">Clock</h2>
    <h3>{{ctrl.userName}}</h3>
    <section class="display">
        <span class="timeDisplay">{{ctrl.hours}}</span>:
        <span class="timeDisplay">{{ctrl.minutes}}</span>:
        <span class="timeDisplay">{{ctrl.seconds}}</span>
    </section>
    <section class="controls">
        <button class="buttonControls" ng-click="ctrl.methods.tickTime()">Start</button>
        <button class="buttonControls">Pause</button>
        <button class="buttonControls">Reset</button>
    </section>
</section>