/* You can add global styles to this file, and also import other style files */
@import "~material-design-lite/material.min.css";

section > ul {
    border: 1px solid black;
    min-width: 30rem;
    min-height: 20rem;
}