<section >
    <h2 class="moduleHeader">Clock</h2>
    <h3>{{ctrl.userName}}</h3>
    <section class="display">
        {{ctrl.hours}}:{{ctrl.minutes}}:{{ctrl.seconds}}.{{ctrl.milisec}}
    </section>
    <section class="controls">
        <button class="buttonControls" ng-click="ctrl.tickTime()">Start</button>
        <button class="buttonControls" ng-click="ctrl.pauseTime()">Pause</button>
        <button class="buttonControls" ng-click="ctrl.resetTime()">Reset</button>
    </section>
</section>