<form ng-submit="lgc.login(lgc.username)" class="login" ng-show="lgc.show">
    <label for="username"></label>
    <input type="text" id="username" ng-model="lgc.username">
    <button>Login</button>
</form>