<article class="movieSearch" ng-if="mc.logged">
    <!-- <h1>This is my movies template!</h1> -->
    <aside>
        <form ng-submit="mc.search(mc.searchTerm)">
            {{mc.message}}
            <label for="movieSearchText">Search movie:</label>
            <input id="movieSearchText" type="text" ng-model="mc.searchTerm">
            <button>Submit</button>
        </form>
    </aside>

    <section class="movieResults">
        <section class="movieResult" ng-repeat="movie in mc.movies">
            <img src="{{movie.poster}}" alt="{{movie.title}}">
            <h2>{{movie.title}}</h2>
            <p>{{movie.year}}</p>
        </section>
    </section>
</article>