label + input{
    display: block;
}

/* article p {
    margin: 0 3em 0 3em;
} */

button { /* Borrowed from bootstrap 4 */
    margin-top: .5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #2d93ff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h4 + p:first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 5rem;
}

article img {
    width: 20rem;
    display: block;
    margin: 5em 5em 3em auto;
}