body {
    background-color: aqua;
    /* height: 100rem; */
}

.ball {
    /* box-shadow: inset -1rem -1rem .75rem rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04); */
    background-color: red;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation: moveX 1.15s linear 1s infinite alternate, moveY 1.4s linear 1s infinite alternate;
}

.board {
    margin: 0 auto;
    width: 50rem;
    height: 40rem;
    position: relative;
    border: 2px solid #000;
  }

@keyframes moveX {
    from { left: 0; } to { left: 47rem; }
  }

@keyframes moveY {
    from { top: 0; } to { top: 37rem; }
}