header {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    background-color: aliceblue;
}
header > a {
    align-self: center;
}
nav {
    display: flex;
    flex-flow: nowrap row;
    align-items: flex-end;
    background-color: antiquewhite;
    /* flex-grow: 2; */
}

nav > a {
    padding: 0 2rem;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

main {
    display: flex;
    flex-flow: wrap row;
    /* justify-content: space-around; */
}

section {
    display: flex;
}

.mainApp {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}

.component {
    flex-flow: column;
    border: 1px solid black;
}

.display {
    align-self: center;
    /* justify-content: center; */

}